body {
    display: flex;
    background-color: rgb(255, 192, 203);
    align-items: center;
    justify-content: center;
    margin-top: 400px;
}

.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #FF69B4;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button:hover {
    background-color: pink;
}

.button:active {
    background-color: pink;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}